:root {
    --cloud-color: #F4F4FD;
    --color-page: #FFFFFF;
    --header-color: #2E2F42;
    --iris-blue: #4d5ae5;
    --body-color: #434455;
    --hoverocus: #404bbf;

}

p, h1, h2, h3, h4 {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

button {
    cursor: pointer;
}

address {
    font-style: normal;
}

img {
    display: block;
}

.container {
   width: 1158px;
   padding: 0 15px;
   margin: 0 auto;
}

body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: var(--color-page);

}

.list {
    list-style: none;
}

.link {
    text-decoration: none; 
}


.header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #E7E9FC;
}

.header-navigation {
    display: flex;
    /* margin-right: auto; */
}

.logo-start {
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--header-color);
}
.header-logo {
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris-blue);
    margin-right: 76px;
}


.header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--header-color);
}

.header-link:hover,
.header-link:focus {
    color: var(--hoverocus);
}

.header-list {
    display: flex;
    gap: 40px;
}

.adr {
    font-style: normal;
}

.adr ul {
    display: flex;
    gap: 40px;
}

.header div {
    display: flex;
    justify-content: space-between;
  
}




.header-address { 
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--body-color);
    
}
.header-address:hover,
.header-address:focus {
    color: #404BBF;
}


.hero {
    background-color: var(--header-color);
    padding-top: 188px;
    padding-bottom: 188px;
}

.cont-align {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.hero-name {
    text-align: center;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    max-width: 496px;
    
}

.hero-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    cursor: pointer;
    padding: 16px 32px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    margin: 0 auto;
    margin-top: 48px;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404BBF;
}


.goals {
    display: flex;
    gap: 24px;
}


.goals-item {
    width: 264px;
}


.our-staks {
    padding-top: 120px;
    padding-bottom: 120px;
   
}

.goal-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--header-color);
    margin-bottom: 8px;
    
        
}

.goal-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    
}


.work {
    padding-bottom: 120px;
}

.work-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--header-color);
margin-bottom: 72px;
}

.work-list-all {
    display: flex;
    gap: 24px;
}



.work-title-item {
    background-color: #FFFFFF;
}



.team {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-list {
    display: flex;
    gap: 24px;
}



.team-item {
  background-color: #FFFFFF;


}


.team-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--header-color);
        margin-bottom: 72px;
}


.photo-title {
    padding: 32px 0;
}
.team-member {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: var(--header-color);
        letter-spacing: 0.02em;
        text-align: center;
        
       
}

.team-member-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    
    margin-top: 8px;
    
}

.footer {
    background-color:#2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
}

/* .footer-width {
    width: 264;
} */

.footer-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #F4F4FD;
        max-width: 264px;
}

.footer-logo {
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris-blue);
    margin-bottom: 16px;
}

.footer-logo-start {
        
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        /* identical to box height, or 117% */
    
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase; 
        color: #f4f4fd;
}




/* Portfolio page */

.filters {
    padding-top: 96px;
    padding-bottom: 120px;
}

.filter-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;

}

.filter-btn {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--iris-blue);
    background-color: var(--cloud-color);
    cursor: pointer;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    padding: 12px 24px;
    height: 48px;
    
}
.filter-btn:hover,
.filter-btn:focus {
    color: #FFFFFF;
    background-color: #404BBF;
}


.search-result {
    /* padding-bottom: 120px; */

    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;

}

.search-result li {
    width: calc((100% - 2 * 24px) / 3);
}


.cards {
    background: #FFFFFF;
    /* border-bottom: 1px solid #E7E9FC;  */
}

.card-title {
    padding: 32px 16px;
    border-right: 1px solid #E7E9FC;
    border-bottom: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
    border-top: 1px solid #E7E9FC;
}

.card-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em; 
    color: var(--header-color);
    margin-bottom: 8px;
}

.card-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--body-color) ;
}

    